*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}
.bg{
	width: 100%;
	position: absolute;
	
}
.bg img{
	display: block;
	width: 100%;
}
.logo{
	position: fixed;
	left: 32px;
	top: 23%;
	z-index: 2;
	width: 8.5rem;
	height: 3.3125rem;
}
.zhu{
	position: fixed;
	width: 100%;
	height: 60%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #18191f;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.left{
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.left b:nth-child(1){
	font-size: 40px;
	font-weight: 1000;
	color: #ffffff;
}
.left p:nth-child(2){
	font-size:20px;
	font-weight:400;
	color:rgba(255,255,255,0.80);
	margin-top: 2.4%;
}
#download{
	display: inline-block;
	width:188px;
	height:68px;
	background: #FFFFFF;
	border: 0.5px solid rgba(0, 0, 0, 0.24);
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), inset -2px -2px 4px rgba(0, 0, 0, 0.20);
	border-radius: 4px;
	font-size:20px;
	line-height: 68px;
	text-align: center;
	color:rgba(24,25,31,1);
	margin-top: 12%;
}
#download:hover{
	background-color: #F6F6F6;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), inset 2px 2px 4px rgba(0, 0, 0, 0.20);
}
.llq{
	width: 428px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 12%;
}
.llq li{
	cursor: pointer;
}

.llq img{
	width: 64px;
	height: 64px;
}
.left a:nth-child(4){
	font-size:14px;
	color:rgba(255,255,255,0.3);
	margin-top: 1%;
}
.left p:nth-child(6){
	font-size:14px;
	color:rgba(255,255,255,0.4);
	margin-top: 2.4%;
}
.right{
	width: 16%;
	min-width: 15rem;
	height: 100%;
	background-color: #FFFFFF;
}
.rightTop{
	width: 100%;
	height: 24%;
	background-color: #0ED17F;
}
.rightTop{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.myname{
	font-size: 32px;
	font-weight: 1000;
	color: #FFFFFF;
	margin-left: 32px;
}
.mycolor{
	font-size: 16px;
	color: #FFFFFF;
	margin-left: 32px;
}
.rightBottom{
	width: 100%;
	height: 76%;
}
.list{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.list li{
	width: 100%;
	height: 11%;
	color: #18191F;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 32px;
	font-size: 16px;
	cursor: pointer;
}
.list li:hover{
	background-color: #f6f6f6;
}
